<!-- about section start -->
<section class="about-section sec-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>tìm hiểu thêm về chúng tôi</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-img">
        <div class="img-box">
          <img src="assets/img/logoweb.png" alt="about image">
        </div>
      </div>
      <div class="about-text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa sequi similique quam quibusdam!
          Dignissimos nisi optio consectetur suscipit saepe et pariatur incidunt asperiores fugiat nostrum
          numquam
          exercitationem, deleniti ipsum facere labore ad perferendis placeat odio. Blanditiis nisi aut ipsam
          repudiandae recusandae cupiditate, tenetur eaque iusto, natus ab illo, dicta totam.</p>
        <h3>các mặt hàng đang kinh doanh</h3>
        <div class="skills">
          <div class="skill-item">rubik thi đấu WCA</div>
          <div class="skill-item">rubik sưu tầm</div>
          <div class="skill-item">rubik biến thể</div>
          <div class="skill-item">phụ kiện cho rubik</div>
          <div class="skill-item">các loại trò chơi phát triển trí tuệ khác</div>
        </div>

        <div class="about-tabs">
          <button type="button" class="tab-item active" data-target="education">địa chỉ cửa hàng</button>
          <button type="button" class="tab-item" data-target="experience">địa chỉ công ty</button>
        </div>

        <!-- education start -->
        <div class="tab-content active" id="education">
          <div class="timeline">
            <div class="timeline-item">
              <span class="date">2019 - 2023</span>
              <h4>gallifrey planet - <span>quận 1</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta quia dolore
                reprehenderit
                asperiores quaerat.</p>
            </div>

            <div class="timeline-item">
              <span class="date">2019 - 2023</span>
              <h4>gallifrey planet - <span>quận gò vấp</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta quia dolore
                reprehenderit
                asperiores quaerat.</p>
            </div>

            <div class="timeline-item">
              <span class="date">2019 - 2023</span>
              <h4>gallifrey planet - <span>thành phố thủ đức</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta quia dolore
                reprehenderit
                asperiores quaerat.</p>
            </div>
          </div>
        </div>
        <!-- education end -->

        <!-- experience start -->
        <div class="tab-content" id="experience">
          <div class="timeline">
            <div class="timeline-item">
              <span class="date">miền nam</span>
              <h4>tp hồ chí minh - <span>quận 1</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, dolores neque commodi
                accusamus
                consequatur quidem!</p>
            </div>

            <div class="timeline-item">
              <span class="date">miền trung</span>
              <h4>đà nẵng - <span>thành phố đà nẵng</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, dolores neque commodi
                accusamus
                consequatur quidem!</p>
            </div>

            <div class="timeline-item">
              <span class="date">miền bắc</span>
              <h4>hà nội - <span>quận hai bà trưng</span></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, dolores neque commodi
                accusamus
                consequatur quidem!</p>
            </div>
          </div>
        </div>
        <!-- experience end -->

        <a href="contact" class="btn">liên hệ chúng tôi</a>
      </div>
    </div>
  </div>
</section>
<!-- about section end-->
