<!-- portfolio section start -->
<section class="portfolio-section sec-padding" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>sản phẩm trong cửa hàng</h2>
      </div>
      <div class="row">

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/1.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">RUBIK GAN DISPLAY STAND - ĐẾ KÊ CHUYÊN DÙNG CHO RUBIK GAN</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>phụ kiện rubik</span></li>
                <li>giá bán - <span>135 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/2.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">GAN 356 I CARRY - RUBIK THÔNG MINH HÃNG GAN</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>rubik 3x3</span></li>
                <li>giá bán - <span>680 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/3.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">GAN MONSTER GO 3X3 AI - RUBIK THÔNG MINH</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>rubik 3x3</span></li>
                <li>giá bán - <span>400 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/4.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">GAN SMART TIMER BLUETOOTH - ĐỒNG HỒ BẤM GIỜ HÃNG GAN</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>phụ kiện rubik</span></li>
                <li>giá bán - <span>680 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/5.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">GAN TIMER MAT - THẢM KÊ RUBIK GAN</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>phụ kiện rubik</span></li>
                <li>giá bán - <span>120 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

        <!-- portfolio item start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="../../assets/img/portfolio/6.jpg" alt="portfolio item thumbnail">
          </div>
          <h3 class="portfolio-item-title">GAN TRIANGLE DISPLAY STAND - ĐẾ KÊ RUBIK GAN</h3>
          <button type="button" class="btn view-project-btn">xem sản phẩm</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dignissimos dolorem libero et, in
                magnam aut rerum similique optio quasi placeat impedit minus repellat facilis ullam, quos laboriosam
                cumque! Repudiandae, nulla molestiae hic aliquid dignissimos adipisci possimus vitae nostrum illum
                neque, dolorem voluptate ipsum repellendus, distinctio similique sit corporis alias.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>cập nhật ngày - <span>4/12/2020</span></li>
                <li>loại - <span>phụ kiện rubik</span></li>
                <li>giá bán - <span>50 000 vnd</span></li>
                <li>xem review - <span><a href="#" target="_blank">www.domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- portfolio item end -->

      </div>
    </div>
  </div>
</section>
<!-- portfolio section end -->

<!-- portfolio item details popup start -->
<div class="portfolio-popup">
  <div class="pp-inner">
    <div class="pp-content">
      <div class="pp-header">
        <button type="button" class="btn pp-close"><i class="fas fa-times"></i></button>
        <div class="pp-thumbnail">
          <img src="../../assets/img/portfolio/3.jpg" alt="pp-thumbnail">
        </div>
        <h3></h3>
      </div>
      <div class="pp-body">
      </div>
    </div>
  </div>
</div>
<!-- portfolio item details popup end -->
