<!-- overlay start -->
<div class="overlay">
</div>
<!-- overlay end -->

<!-- main start -->
<div class="main">

  <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="row flex-end">
        <button type="button" class="nav-toggler" onclick="int()">
          <span></span>
        </button>
        <nav class="nav">
          <div class="nav-inner">
            <ul>
              <li><a href="home" class="nav-item link-item">trang chủ</a></li>
              <li><a href="about" class="nav-item link-item">thông tin</a></li>
              <li><a href="portfolio" class="nav-item link-item">sản phẩm</a></li>
              <li><a href="contact" class="nav-item link-item">liên hệ</a></li>
              <li><a href="login" class="nav-item link-item">đăng nhập</a></li>
              <li><a href="signup" class="nav-item link-item">đăng ký</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- home section start-->
  <section class="home-section align-items-center active" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="home-text">
          <p>Xin chào, chúng tôi là</p>
          <h1>gallifrey plannet</h1>
          <h2>rubik's cube shop</h2>
          <a href="/portfolio" class="btn link-item">xem sản phẩm</a>
          <a routerlink="/about" class="btn link-item">về chúng tôi</a>
          <a routerlink="/contact" class="btn link-item">liên hệ</a>
          <a routerlink="/login" class="btn link-item">đăng nhập</a>
          <a routerlink="/signup" class="btn link-item">đăng ký tài khoản</a>
        </div>
        <div class="home-img">
          <div class="img-box">
            <img src="assets/img/cover.png" alt="avatar">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- home section end-->

</div>
<!-- main end -->